[Unit]
Description=MinerHome  mhminer  service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

WorkingDirectory=/root/mhminer1
ExecStart=/root/mhminer1/mhminer


KillMode=mixed
TimeoutStartSec=0


User=root
Group=root


Restart=always
RestartSec=10s
Restart=on-failure
TimeoutStopSec=5


[Install]
WantedBy=multi-user.target





